@import "colors.css";
/*@import "debug.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply h-screen font-sans text-foreground antialiased;
        background:
            url("/public/waves.svg") center / 150% no-repeat fixed,
            hsl(var(--background));
        .dark & {
            background:
                url("/public/waves.svg") 50% 60% / 200% no-repeat fixed,
                radial-gradient(circle at top center, rgba(0, 51, 255, 0.3) 0%, rgba(0, 0, 0, 100%) 100%),
                hsl(var(--background));
        }

        &:has(.no-body-scroll) {
            overflow: clip;
        }
    }

    #root {
        @apply flex flex-col;
    }
}

@layer components {
    .prose {
        p a {
            @apply break-words text-blue-500;
        }
    }
    button {
        cursor: pointer;
    }
    .stack {
        @apply flex items-center gap-1.5;
    }
}

/* Grid */
.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}
