@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply min-h-screen bg-background font-sans text-foreground antialiased;
    }

    #root {
        @apply flex flex-col;
    }
}

@layer components {
    .prose {
        p a {
            @apply break-words text-blue-500;
        }
    }
    button {
        cursor: pointer;
    }
    .stack {
        @apply flex items-center gap-1.5;
    }
}

/* Grid */
.grid-auto {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 1.5rem;
}
